{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
          <p class = "text-secondary">Дата народження: {{ user.profile.date_birth|date:"F d, Y"}} </p>
          <p class = "text-secondary">Стать: {{ user.profile.gender }}</p>
          <p class = "text-secondary">Підписка на розсилку: {{ user.profile.mailing }}</p>
          <p class = "text-secondary">Дата першого входу: {{ user.profile.date_first_access|date:"F d, Y H:i:s" }}</p>
          <p class = "text-secondary">Дата останнього входу: {{ user.profile.date_last_access|date:"F d, Y H:i:s" }}
          </p>
          <small class="text-muted"><a href="{% url 'edit_profile' %}">Редагувати профіль</a></small>
        </div>
      </div>
{% endblock content %}